<head>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
             <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
    /*!
 * Responsive Tournament Bracket
 * Copyright 2016 Jakub Hájek
 * Licensed under MIT (https://opensource.org/licenses/MIT)
 */


@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/worksans/v7/QGY_z_wNahGAdqQ43RhVcIgYThe Knight BoysXz5u32KxfXBiEJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/worksans/v7/QGY_z_wNahGAdqQ43RhVcIgYThe Knight BoysXz5u32K0nXBiEJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/worksans/v7/QGY_z_wNahGAdqQ43RhVcIgYThe Knight BoysXz5u32K5fQBiEJow.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/worksans/v7/QGY_z_wNahGAdqQ43RhVcIgYThe Knight BoysXz5u32K67QBiEJow.ttf) format('truetype');
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
@media (min-width: 38em) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 52em) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 72em) {
  html {
    font-size: 16px;
  }
}


body {
  background-color: #36454f;
  font-family: 'Titillium Web', sans-serif;
font-style: normal;
}
.container {
  width: 90%;
  min-width: 18em;
  margin: 20px auto;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2em;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.tournament-bracket {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
@media (min-width: 38em) {
  .tournament-bracket {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}
.tournament-bracket__round {
  display: block;
  margin-left: -3px;
  -webkit-box-flex: 1;
          flex: 1;
}
.tournament-bracket__round-title {
  color: white;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}
.tournament-bracket__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 100%;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 2em;
  margin-bottom: 2em;
  -webkit-transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
@media (max-width: 24em) {
  .tournament-bracket__list {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__list {
    margin-bottom: 0;
    padding-bottom: 0;
    border-right: 1px dashed #e5e5e5;
    border-bottom: 0;
  }
}
.tournament-bracket__round:last-child .tournament-bracket__list {
  border: 0;
}
.tournament-bracket__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  position: relative;
  padding: 2% 0;
  width: 48%;
  -webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
.tournament-bracket__item:nth-child(odd) {
  margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
  margin-left: 2%;
}
.tournament-bracket__item::after {
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
@media (max-width: 24em) {
  .tournament-bracket__item {
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__item {
    padding: 0.5em 1em;
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin: 0;
  }
  .tournament-bracket__item::after {
    position: absolute;
    right: 0;
    content: '';
    display: block;
    width: 1em;
    height: 45%;
    border-right: 2px solid #9e9e9e;
  }
  .tournament-bracket__item:nth-child(odd)::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
    border-top-right-radius: 0.6em;
  }
  .tournament-bracket__item:nth-child(even)::after {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
    border-bottom-right-radius: 0.6em;
  }
  .tournament-bracket__round:first-child .tournament-bracket__item {
    padding-left: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item {
    padding-right: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item::after {
    display: none;
  }
  .tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
    border-radius: 0;
    border-right: 0;
  }
}
@media (min-width: 72em) {
  .tournament-bracket__item {
    padding: 0.5em 1.5em;
  }
  .tournament-bracket__item::after {
    width: 1.5em;
  }
}
.tournament-bracket__match {
  display: -webkit-box;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 0.1em;
  box-shadow: 0 2px 0 0 #e5e5e5;
  outline: none;
  cursor: pointer;
  -webkit-transition: padding 0.2s ease-in-out, border 0.2s linear;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.tournament-bracket__match:focus {
  border-color: #2196F3;
}
.tournament-bracket__match::before,
.tournament-bracket__match::after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 24em) {
  .tournament-bracket__match {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
    position: absolute;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
    width: 1em;
    height: 10%;
    border-left: 2px solid #9e9e9e;
  }
  .tournament-bracket__match::before {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::before {
    border-bottom-left-radius: 0.6em;
  }
  .tournament-bracket__match::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::after {
    border-top-left-radius: 0.6em;
  }
}
@media (min-width: 72em) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
    width: 1.5em;
  }
  .tournament-bracket__match::before {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  .tournament-bracket__match::after {
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
}
.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
  border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match::before,
.tournament-bracket__round:first-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__content {
  display: -webkit-box;
  display: flex;
}
.tournament-bracket__content::after {
  content: ':';
  width: 2em;
  text-align: center;
  padding: 1em;
}
@media (min-width: 38em) {
  .tournament-bracket__content::after {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child {
  width: 50%;
  -webkit-box-ordinal-group: 1;
          order: 0;
  text-align: right;
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:first-child {
    -webkit-box-align: end;
            align-items: flex-end;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
  -webkit-box-ordinal-group: 3;
          order: 2;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
@media (min-width: 24em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
            align-items: flex-end;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
  -webkit-box-ordinal-group: 1;
          order: 0;
}
@media (min-width: 24em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
.tournament-bracket__content .tournament-bracket__team:last-child {
  width: 50%;
  -webkit-box-ordinal-group: 3;
          order: 2;
  text-align: left;
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:last-child {
    -webkit-box-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
    -webkit-box-align: start;
            align-items: flex-start;
  }
}
.tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__code {
  -webkit-box-ordinal-group: 2;
          order: 1;
}
.tournament-bracket__table {
  width: 100%;
}
.tournament-bracket__caption {
  font-size: 0.8rem;
  color: black;
  font-weight: 300;
  padding-bottom: 0.75em;
}
.tournament-bracket__team {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
@media (min-width: 24em) {
  .tournament-bracket__team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}
.tournament-bracket__country {
  font-size: 0.95rem;
  display: -webkit-box;
  display: flex;
  margin-top: 0.5em;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 24em) {
  .tournament-bracket__country {
    margin-top: 0;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__country {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .tournament-bracket__country .tournament-bracket__code {
    margin-top: 0.2em;
  }
}
.tournament-bracket__code {
  padding: 0 0.5em;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}
@media (max-width: 24em) {
  .tournament-bracket__code {
    padding: 0 0.25em;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__code {
    padding: 0;
  }
}
.tournament-bracket__score {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.tournament-bracket__team:first-child .tournament-bracket__score {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  padding-left: 0.75em;
}
.tournament-bracket__team:last-child .tournament-bracket__score {
  padding-right: 0.75em;
}
.tournament-bracket__number {
  display: inline-block;
  padding: 0.2em 0.4em 0.2em;
  border-bottom: 0.075em solid transparent;
  font-size: 0.95rem;
  background-color: #F5F5F5;
  border-color: #dddddd;
}
.tournament-bracket__team--winner .tournament-bracket__number {
  background-color: #FFF176;
  border-color: #fad674;
}
.tournament-bracket__medal {
  padding: 0 0.5em;
}

a { color: inherit;text-decoration: underline } 

h1 {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #FFFFFF; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

h1 span { 
    background:#36454f; 
    padding:0 10px; 
}

footer{
        padding-top: 20;
        padding-bottom: 20;
      }
      .fa-instagram {
  background: #FB9821;
  color: black;
}

.fa-facebook {
  background: #FB9821;
  color: black;
}


    </style>
</head>


<body>

    <nav>
        <div style="background-color: #FB9821;color: black;text-align: center" class="nav-wrapper">
          MIT CHESS CLUB
        </div>
      </nav>

  


<div class="container">

   
            
        
        <div style="text-align: center"><img width="400" height="400" src="assets/img/logo_transparent.png"></div>
        
          <h1 style="text-align: center;color: white;font-size: 50"><span>Road to Victory</span></h1>
        
        <br>
        <br>
        <br>
        <br>
        <div class="tournament-bracket tournament-bracket--rounded">                                                     
          <div class="tournament-bracket__round tournament-bracket__round--quarterfinals">
            <h3 class="tournament-bracket__round-title">Quarterfinals</h3>
            <ul class="tournament-bracket__list">
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">24 May 2020</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >Fork You</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >The Knight Boys</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-kz" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
      
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">25 May 2020</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >Pawn Stars</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >Knights of the Dead</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-us" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">26 May 2020</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >ROOKies</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >U-Knighted</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-se" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
      
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match " tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-18">27 May 2020</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >Check us Out</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >Nigel Snorts</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-by" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
          <div class="tournament-bracket__round tournament-bracket__round--semifinals">
            <h3 class="tournament-bracket__round-title">Semifinals</h3>
            <ul class="tournament-bracket__list">
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-20">28 May 2020</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >?</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >?</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-cz" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
      
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-20">29 May 2020</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >?</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >?</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ru" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
          <div class="tournament-bracket__round tournament-bracket__round--bronze">
            <h3 class="tournament-bracket__round-title">Finals</h3>
            <ul class="tournament-bracket__list">
              <li class="tournament-bracket__item">
                <div class="tournament-bracket__match" tabindex="0">
                  <table class="tournament-bracket__table">
                    <caption class="tournament-bracket__caption">
                      <time datetime="1998-02-21">30 May 2020</time>
                    </caption>
                    <thead class="sr-only">
                      <tr>
                        <th>Country</th>
                        <th>Score</th>
                      </tr>
                    </thead>  
                    <tbody class="tournament-bracket__content">
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >?</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-fi" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy" aria-laNigel Snorts="Bronze medal"></span>
                        </td>
                      </tr>
                      <tr class="tournament-bracket__team tournament-bracket__team--winner">
                        <td class="tournament-bracket__country">
                          <abbr class="tournament-bracket__code" >?</abbr>
                          <span class="tournament-bracket__flag flag-icon flag-icon-ca" aria-laNigel Snorts="Flag"></span>
                        </td>
                        <td class="tournament-bracket__score">
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__number">0</span>
                          <span class="tournament-bracket__medal tournament-bracket__medal--bronze fa fa-trophy" aria-laNigel Snorts="Bronze medal"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="container">

          <br>
          <br>
          <br>
          <br>
          <h1 style="text-align: center;color: white;font-size: 50"><span>Teams</span></h1>
          <br>
          <br>
          <br>
          <br>
      
      <table style="background-color: white;color: white" class="responsive-table centered">
         
        <thead>
              <tr style="color: black">
                  <th>Team Name</th>
                  <th>Player1</th>
                  <th>Player1 chess.com id</th>
                  <th>Player2</th>
                  <th>Player2 chess.com id</th>
              </tr>
            </thead>
            <tbody>
              <tr style="color: #0000b5">
                <td>Fork You</td>
                <td>Arya Shetty</td>
                <td><a href="https://www.chess.com/member/Arya_Shetty8">Arya_Shetty8</a></td>
                <td>Dynel Lewis</td>
                <td><a href="https://www.chess.com/member/Dynel lewis">Dynel lewis</a></td>
              </tr>
              <tr style="color: #6600cc">
                <td>The Knight Boys</td>
                <td>Aaryan Iyer</td>
                <td><a href="https://www.chess.com/member/Orion9328">Orion9328</a></td>
                <td>Eeshan Ganla</td>
                <td><a href="https://www.chess.com/member/CoolFool5">CoolFool5</a></td>
              </tr>
              <tr style="color: #ff8700">
                <td>Pawn Stars</td>
                <td>Harsh Vora</td>
                <td><a href="https://www.chess.com/member/harshvora2708">harshvora2708</a></td>
                <td>Aditya Italia</td>
                <td><a href="https://www.chess.com/member/adityaitalia">adityaitalia</a></td>
              </tr>
              <tr style="color: #1c2f4d">
                    <td>Knights of the Dead</td>
                    <td>Ananya Sharma</td>
                    <td><a href="https://www.chess.com/member/ananya_sh">ananya_sh</a></td>
                    <td>Raloue Kapoor</td>
                    <td><a href="https://www.chess.com/member/Raloue">Raloue</a></td>
                  </tr>
                  <tr style="color: #f20a0a">
                        <td>ROOKies</td>
                        <td>Gokul P</td>
                        <td><a href="https://www.chess.com/member/gokulp01">gokulp01</a></td>
                        <td>Dhruva Bhat</td>
                        <td><a href="https://www.chess.com/member/dhruvabhat">dhruvabhat</a></td>
                      </tr>
                      <tr style="color: #FF9933">
                            <td>U-Knighted</td>
                            <td>Tarun Mateti</td>
                            <td><a href="https://www.chess.com/member/PoisonedPawn960">PoisonedPawn960</a></td>
                            <td>Akshay Gupta</td>
                            <td><a href="https://www.chess.com/member/deadline007">deadline007</a></td>
                          </tr>
                          <tr style="color:  #000000">
                                <td>Check us Out</td>
                                <td>Hilay Mehta</td>
                                <td><a href="https://www.chess.com/member/Hilaymehta275">Hilaymehta275</a></td>
                                <td>Samkeet Chhajed</td>
                                <td><a href="https://www.chess.com/member/SAMKEET1208">SAMKEET1208</a></td>
                              </tr>
                              <tr style="color: #f0cc00">
                                    <td>Nigel Snorts</td>
                                    <td>Yash Deodhar</td>
                                    <td><a href="https://www.chess.com/member/Yash Deodhar">Yash Deodhar</a></td>
                                    <td>Hritvik Kishore</td>
                                    <td><a href="https://www.chess.com/member/MarcusAurelius98">MarcusAurelius98</a></td>
                                  </tr>
                                </tbody>
         
          </table>

          <br>
          <br>
          <br>
          <br>
  
          <h1 style="text-align: center;color: white;font-size: 50"><span>How to play and win</span></h1>
  
          <br>
          <br>
          <br>
          <br>

          <div class="row">
            <div class="center">
              <div class="col l12 s12">
          <iframe style="border: none" width="1000" height="600" src="https://www.youtube.com/embed/Giqbk-vSMlc"></iframe> 
        </div>
        </div>
        </div>
        </div>

        <br>
        <br>

        

      </body>

      <footer style="background-color: #FB9821;color: black" class="page-footer">
            
            <div style="font-size: 40px">
            <div class="center">
            <a style="text-decoration: none" href="https://www.facebook.com/raloue.kapoor" class="fa fa-facebook"></a>
            &ensp;
            <a style="text-decoration: none" href="https://www.instagram.com/chessclub.mit/" class="fa fa-instagram"></a>
            &ensp;
            </div>
          </div>
          
        </footer>
     