<html style="overflow-x: hidden;font-family: 'Oxygen', sans-serif;" >
  <head>
    <title>chessclub.mit | Official Chess Club of MIT Manipal</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel = "icon" type = "image/png" href = "assets/img/logo.jpg">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/material-kit.css"  />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="assets/js/jquery-2.1.4.js"></script>     
    <style>
      .center {
        margin: auto;
      }

      li
      {
        list-style-type: none;
        margin-left: 0.1vw;
      }

      li:first-child
      {
        margin:0;
      }

      footer{
        padding-top: 20;
        padding-bottom: 20;
      }

      .copyright,  .impressum
      {
        text-align: center;
      }

      .logo
      {
        height: 8vh;
      }

      @media (max-width: 768px) 
      {
        li
        {
          margin-left: 0;
          margin-bottom: 1vh;
        }
        
        .sozial
        {
          margin-bottom: 1vh;
        }
      }
    </style>
  </head>

  <body style="background-color: white; font-weight: 600;overflow-x: hidden;">  
    <nav  class="navbar absolute-top navbar-expand-lg"  >
      <div class="container">
        <div class="navbar-translate">
          <a style="color: #FB9821" class="navbar-brand" href="http://localhost:3000">
            <img src="assets/img/logo.jpg" width="40px" height="40px">
          </a>
          <span>
            <a href="#" style="color: #FB9821" >
              #MakingtheRightMoves
            </a>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="true" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/store" class="nav-link" style="color: black">
            <i class="material-icons">store_front</i> Store
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" style="color: black">
            <i class="material-icons">people</i> Members
          </a>
        </li>        
      </ul>
      </div>
      </div>
    </nav>



    <div  class="page-header header-filter" data-parallax="true" style="background-image: url('assets/img/home_background.jpg')">
      <div  class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 ml-auto mr-auto" >
            <div style="color: #FB9821" class="brand text-left">
              <h1><b>MIT CHESS CLUB</b></h1>
            </div>
          </div>
          <iframe class="col-md-4 col-sm-6 ml-auto mr-auto" src="https://lichess.org/tv/frame?theme=metal&bg=dark" style="width: 400px; height: 444px;" allowtransparency="true" frameborder="0"></iframe>
        </div>
      </div>
    </div>



    <div class="main main-raised" style="background-color:white">
      <div class="container">
        <div class="section text-center">
          <h1 style="color: #FB9821;font-family: 'Righteous', cursive;" >Club Events</h1>
        </div>
        <div class="row">
          <div class="center">
            <div class="col-md-4">
              <div class="card" style="height: 25rem; width: 20rem;">
                <img class="card-img-top" src="assets/img/champion_alt.png" rel="nofollow" alt="Card image cap" height="70%">
                <div class="card-body">
                <p style="color: black;text-align: center" class="card-text">After a success in 2019, MIT CHESS CHAMPIONSHIP is back in 2020. It's bigger and better than last time.</br><a href="" style="color:#FB9821"> Register here</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="center">
            <div class="col-md-4">
              <div class="card" style="height: 25rem; width: 20rem;">
                <img class="card-img-top" src="/assets/img/lichess.png" rel="nofollow" alt="Card image cap" height="70%">
                <div class="card-body">
                <p style="color: black;text-align: center" class="card-text">Monthly Online Blitz Championship is one of the most exciting competitions that we hold.</br><a href="" style="color:#FB9821"> Register here</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="center">
            <div class="col-md-4">
              <div class="card" style="height: 25rem; width: 20rem;">
                <img class="card-img-top" src="assets/img/seminar.png" rel="nofollow" alt="Card image cap" height="70%">
                <div class="card-body">
                <p style="color: black;text-align: center" class="card-text">Free seminars every month to level up your chess game.</br><a href="" style="color:#FB9821"> Register here</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div>
          <div class="section text-center">
          <h1 style="color: #FB9821;font-family: 'Righteous', cursive;" >Our Motto</h1>
          </div>

        <div style="text-align: center;color: black">
          <div style="padding-bottom: 1%">Our motto is to help as many chess players as possible in improving their game. </div>
          <div style="padding-bottom: 1%">
            We wish to inspire many young chess players
          </div>
          <div style="padding-bottom: 2%">
            #MakingTheRightMoves Since 2019
          </div>
        </div>
        </div>

        <div class="section text-center">
          <h1 style="color: #FB9821;font-family: 'Righteous', cursive;" >About Us</h1>
        </div>

        <div style="text-align: center;color: black">
          <div style="padding-bottom: 1%">We are the official chess club of MIT Manipal </div>
          <div style="padding-bottom: 1%">
            We organize various events and teach students chess
          </div>
          <div style="padding-bottom: 2%">
            #MakingTheRightMoves Since 2019
          </div>
        </div>

        <div class="section text-center">
          <h1 style="color: #FB9821;font-family: 'Righteous', cursive;" >Want to become a member ?</h1>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-icon card-header-danger  ">
                <div class="card-title">
                  <span>
                    <b>
                      Fill the form below and we shall reach out to you shortly 
                    </b>
                  </span>
                </div>   
              </div>
              <div class="card-body">
                <form method="post" action="/">
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Full name" name="full_name" required>
                    </div>
                    <div class="col">
                      <input type="number" class="form-control" placeholder="Reg.no" name="reg_no" required>
                    </div>
                    <div class="col">
                      <input type="number" class="form-control" placeholder="Whatsapp" name="whatsapp" required>
                    </div>
                    <button style="background-color: #FB9821" type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>    
              </div>
            </div>
          </div>
        </div>

        <div class="section text-center">
          <h1 style="color: #FB9821;font-family: 'Righteous', cursive;" >Check out these</h1>
        </div>
  
        <div class="row">
          <div class="center">
            <div class="col-md-4">
              <div class="card" style="height: 25rem; width: 20rem;">
                <img class="card-img-top" src="assets/img/storee.png" rel="nofollow" alt="Card image cap" height="70%">
                <div class="card-body">
                  <p style="color: black;text-align: center" class="card-text">Online Store for your chess needs. Buy at a much cheaper price than any other place</br><a href="" style="color:#FB9821"> Know More</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="center">
            <div class="col-md-4">
              <div class="card" style="height: 25rem; width: 20rem;">
                <img class="card-img-top" src="assets/img/members.png" rel="nofollow" alt="Card image cap" height="70%">
                <div class="card-body">
                  <p style="color: black;text-align: center" class="card-text">Know about the members of the club</br><a href="" style="color:#FB9821"> Know more</a></p>
                </div>
              </div>
            </div>
          </div>      
        </div>


        <div class="section text-center">
          <h1 style="color: #FB9821;font-family: 'Righteous', cursive;">Contact Us</h1>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-icon card-header-danger">
                <div class="card-title">
                  <span><b>Message down or Reach out to us @chessclubmit@gmail.com</b></span>
                </div>    
              </div>
              <div class="card-body">
                <form method="post" action="/">
                  <div class="row">
                    <input type="text" class="form-control" placeholder="First Name" name="fname" required>
                  </div>
                  <br/>
                  <div class="row">
                    <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
                  </div>
                  <br/>
                  <div class="row">
                    <input type="email" class="form-control" placeholder="Email" name="email" required>
                  </div>
                  <br/>
                  <div class="row">
                    <input type="text" class="form-control" placeholder="Message" name="message" required>
                  </div>
                  <br/>
                  <div class="row">
                  <button style="background-color: #FB9821" type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>    
              </div>
            </div>
          </div>
          <div class="center">
          <div class="col-md-6">
            <img width="400" height="400" src="assets/img/contact.png">
          </div>
          </div>
        </div>

      </div>
    </div>
  </body>

  <div class="container">
    <footer class="row">
      <span class="impressum col-xs-12 col-sm-3 col-sm-pull-6" style="padding-top: 15px">
        <p>Do consider participating in our events</p>
        <p>FOLLOW US @</p>
      </span>
      <div class="sozial col-xs-12 col-sm-6 col-sm-push-6" style="padding-left: 100px">
        <ul class="row">
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_facebook-128.png">
            </a>
          </li>
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/twitter_online_social_media-128.png">
            </a>
          </li>
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/instagram_online_social_media_photo-128.png">
            </a>
          </li>
          <li class="col-xs-6 col-sm-2">
            <a href="#">
              <img class="logo" src="https://cdn2.iconfinder.com/data/icons/black-white-social-media/32/online_social_media_google_plus-128.png">
            </a>
          </li>
        </ul>
      </div>
      <span class="copyright col-xs-12 col-sm-3 col-sm-pull-6">
        <p> &copy; MIT Chess Club  </p>
        <p>Made with <i class="material-icons">favorite</i> by <a href="http://localhost:3000">MIT CHESS CLUB</a></p>
      </span>
    </footer>
  </div>

  <script type="text/javascript">
    var request = new XMLHttpRequest();
    request.open('GET', 'https://chesspuzzle.net/Daily/Api', true);
    request.onload = function () {
    if (request.status >= 200 && request.status < 400) {
    var result = JSON.parse(request.responseText);
    document.getElementById("puzzleText").textContent = result.Text;
    document.getElementById("puzzleLink").href = result.Link;
    document.getElementById("puzzleImage").src = result.Image;
    }
    };
    request.send();
  </script>


</html>