<html >
<head>
  <title>chessclub.mit</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="assets/css/material-kit.css"  />
             
</head>

<body style="font-family: 'Archivo', sans-serif;background-color: white">
  <nav  class="navbar absolute-top navbar-expand-lg"  >
    <div class="container">
      <div class="navbar-translate">
        <a style="color: #FB9821" class="navbar-brand" href="#">
           <img src="assets/img/logo.jpg" width="40px" height="40px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          
          
          <li class="nav-item">
            <a href="#" class="nav-link" style="color:#2274A5 ">
              <i class="material-icons">live_tv</i> News
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="color: #2274A5">
              <i class="material-icons">store_front</i> Store
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" style="color: #2274A5">
              <i class="material-icons">people</i> Members
            </a>
          </li>
          
          
          
        </ul>
      </div>
    </div>
  </nav>
  <div  class="page-header header-filter" data-parallax="true" >
    <div  class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto" >
          <div style="color: #FB9821" class="brand text-left">
            <h1>MIT CHESS CLUB</h1>
            <h3 style="color: #FB9821" class="title text-left">Official Chess Club of MIT Manipal</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container">

      <div class="section text-center">
        <h3 style="color: #FB9821" class="title">Club Events</h3>
      </div>

      <div class="row">

      <div class="col-md-4">
      <div class="card" style="height: 30rem; width: 20rem;">
        <img class="card-img-top" src="assets/img/cham.jpg" rel="nofollow" alt="Card image cap" height="70%">
        <div class="card-body">
          <p style="color: #2274A5;text-align: center" class="card-text"><b>After a huge success in 2019, MIT CHESS CHAMPIONSHIP is back in 2020. It's bigger and better than last time.</b></p>
        </div>
      </div>
      </div>

      <div class="col-md-4">
      <div class="card" style="height: 30rem; width: 20rem;">
          <img class="card-img-top" src="/assets/img/lichess.png" rel="nofollow" alt="Card image cap" height="70%">
          <div class="card-body">
            <p style="color: #2274A5;text-align: center" class="card-text"><b>Monthly Online Blitz Championship is one of the most exciting competitions that we hold.</b></p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
          <div class="card" style="height: 30rem; width: 20rem;">
              <img class="card-img-top" src="assets/img/seminar.jpg" rel="nofollow" alt="Card image cap" height="70%">
              <div class="card-body">
                <p style="color: #2274A5;text-align: center" class="card-text"><b>Free seminars every month to level up your chess game</b></p>
              </div>
            </div>
          </div>

      </div>

      <div class="section text-center">
        <h3 style="color: #FB9821" class="title">Our Motto</h3>
      </div>

      <div style="text-align: center;color: #2274A5">
        <div style="padding-bottom: 2%">Our motto is to help as many chess players as possible in improving their game. </div>
        <div style="padding-bottom: 2%">
          We believe in hardwork and patience.
        </div>
        <div style="padding-bottom: 2%">
          #MakingTheRightMoves Since 2019
        </div>
      </div>

      <div class="section text-center">
          <h3 style="color: #FB9821" class="title">Join the Club ?</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-danger  ">
                      <div class="card-title">
                        <span><b> the form below and we shall reach out to you shortly :) </b></span>
                      </div>
                       
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Full name">
                              </div>
                              <div class="col">
                                  <input type="text" class="form-control" placeholder="Reg.no">
                                </div>
                              <div class="col">
                                <input type="text" class="form-control" placeholder="Whatsapp">
                              </div>
                              <button style="background-color: #FB9821" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                          
                    </div>
                </div>
            </div>
          </div>

          <div class="section text-center">
            <h3 style="color: #FB9821" class="title">Conatct Us</h3>
          </div>

          <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon card-header-danger">
                      <div class="card-title">
                        <span><b>Message down or Reach out to us @chessclubmit@gmail.com</b></span>
                      </div>
                       
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <input type="text" class="form-control" placeholder="First Name">
                              </div>
                              <br/>
                              <div class="row">
                                <input type="text" class="form-control" placeholder="Last Name">
                              </div>
                              <br/>
                              <div class="row">
                                <input type="text" class="form-control" placeholder="Email">
                              </div>
                              <br/>
                              <div class="row">
                                <input type="text" class="form-control" placeholder="Message">
                              </div>
                              <br/>
                              <div class="row">
                              <button style="background-color: #FB9821" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                          </form>
                          
                    </div>
                </div>
            </div>
          </div>

          
        
    </div>
  </div>

  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
              FOLLOW US
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by
        <a href="https://www.creative-tim.com/" target="blank">MIT CHESS CLUB</a>
      </div>
    </div>
  </footer>
</body>

</html>